# ========================
# DB Setup (MySQL)
# ========================
DB_HOST=localhost       # またはMySQLが設置されてるサーバーのIP
DB_PORT=3306            # MySQL　Default Port
DB_USERNAME=root        # DB user name
DB_PASSWORD=your_password  # DB password
DB_DATABASE=my_awesome_db # 利用するDB名 (事前に作成しておく)

# TypeORM synchronize 設定 (dev環境では true, main環境では　false)
DB_SYNCHRONIZE=true

# サーバーPort
PORT=4000

# ========================
# auth 
# ========================
JWT_SECRET = my_secure_jwt_key_for_backend_project # 本番ではもっと複雑な値を利用すること（random文字列生成ツール利用）